<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>TicTacToe</title>
    <link rel='icon' href='../static/backgrounds/favicon.png'>
    <link rel='stylesheet' href='../static/styles/credits.css'>
</head>


<button onclick="location.href='/'">Return</button><br><br>
<body>
<h1>Je hebt TicTacToe uitgespeeld!</h1><br>
<h2>Backgrounds</h2>
1. Favicon: <a href="https://www.vectorstock.com/royalty-free-vector/cheese-eggs-and-butter-baking-ingredients-vector-15077901" target="_blank">VectorStock</a><br>
2. Menu: <a href="https://www.dreamstime.com/tic-tac-toe-colorful-seamless-pattern-print-paper-school-game-fabric-image205716741" target="_blank">Dreamstime</a><br>
3. Guide: <a href="https://nl.pinterest.com/pin/706220785314589958/" target="_blank">Pinterest</a><br>
4. Map: <a href="https://www.creativefabrica.com/nl/product/old-vintage-paper-textured-background-180/" target="_blank">Creative Fabrica</a><br>
5. Teachers: <a href="https://www.hsleiden.nl/bio-informatica-bachelor/docenten/index.html" target="_blank">Hogeschool Leiden</a><br>
6. Mountain: <a href="https://upload.wikimedia.org/wikipedia/commons/4/4d/Mount_Triumph_25911.JPG" target="_blank">Wikipedia</a><br>
7. Phase 1: <a href="https://x.com/theboyzfolder/status/1498308948788535299" target="_blank">X</a><br>
8. Phase 2: <a href="https://gamerant.com/solo-leveling-the-truth-behind-the-double-dungeon-explained/" target="_blank">Game Rant</a><br>
9. Death: <a href="https://www.peakpx.com/en/hd-wallpaper-desktop-pqsam" target="_blank">Peakpx</a><br>
10. Credits: <a href="https://nl.pinterest.com/pin/343188434104449910/" target="_blank">Pinterest</a><br>
11. Default: <a href="https://www.facebook.com/tictactoe2020/" target="_blank">Facebook</a><br>
12. Lego: <a href="https://nl.mashable.com/entertainment-2/7156/handige-tips-trucs-voor-lego-star-wars-the-skywalker-saga" target="_blank">Mashable</a><br>
13. Food: <a href="https://www.vecteezy.com/photo/10233650-background-of-colorful-dry-pet-food-good-nutrition-for-dogs-and-cats" target="_blank">Vecteezy</a><br><br>

<h2>Skins</h2>
1. Default (P1): <a href="https://logodix.com/that-is-a-green-circle" target="_blank">LogoDix</a><br>
2. Default (P2): <a href="https://www.istockphoto.com/nl/vector/vinkjes-rode-kruis-icoon-simple-vector-gm1131230925-299466418" target="_blank">iStock</a><br>
3. Blocks (P1):  <a href="https://brickscout.com/nl/products/detail/4057296526604/part__3005pe1/green-brick-1-x-1-with-eye-simple-black-and-white-pattern" target="_blank">BrickScout</a><br>
4. Blocks (P2): <a href="https://www.amazon.nl/Lego-Lamp-baksteen-1x1-rood/dp/B07RX36WRG?th=1" target="_blank">Amazon</a><br>
5. Cats (P1/P2): Maya en Mia<br>
6. Endgame (P1): <a href="https://www.behance.net/gallery/64308793/Magic-sword?locale=nl_NL" target="_blank">Behance</a><br>
7. Endgame (P2): <a href="https://sunil2016.artstation.com/projects/e0lmJ6" target="_blank">ArtStation</a><br><br>

<h2>Sounds</h2>
1. Default: <a href="https://www.myinstants.com/en/instant/mouse-click-84937/" target="_blank">Myinstants</a><br>
2. Pipe: <a href="https://www.myinstants.com/nl/instant/jixaw-metal-pipe-falling-sound-28270/" target="_blank">Myinstants</a><br>
3. Meow: <a href="https://www.myinstants.com/en/instant/cat-meow-sound-effect-51551/" target="_blank">Myinstants</a><br>
4. Fire: <a href="https://www.myinstants.com/en/instant/fire-whoosh-11372/" target="_blank">Myinstants</a><br>
5. Ping: <a href="https://www.myinstants.com/nl/instant/correct-ping-9950/" target="_blank">Myinstants</a><br><br>

<h2>Musics</h2>
1. Default: <a href="https://archive.org/details/gdps-2.2-song-91476" target="_blank">Glorious Morning by Waterflame</a><br>
2. Cowboy: <a href="https://www.audiocoffee.net" target="_blank">Country Rock And Roll by AudioCoffee</a><br>
3. Happy: <a href="https://www.audiocoffee.net" target="_blank">Funny by AudioCoffee</a><br>
4. Map: <a href="https://www.audiocoffee.net" target="_blank">Wonderful Fairytale by AudioCoffee</a><br>
5. Decode: <a href="https://www.audiocoffee.net" target="_blank">Twilight by AudioCoffee</a><br>
6. Endgame: <a href="https://pixabay.com/nl/music/vocaal-la-mort-ophelia-saint-saens-anneliese-von-koenig-mezzo-125024/" target="_blank">La Mort Ophelia Saint-Saens by Anneliese Von Koenig Mezzo</a><br>
7. Credits: <a href="https://www.audiocoffee.net" target="_blank">Cinematic Epic by AudioCoffee</a><br><br>

<h3>All references were last accessed at 19-05-2024.</h3>
{% if music_switch == 'on' %}
    <audio id='audio' controls loop autoplay>
        <source src='../static/musics/credits.mp3' type='audio/mpeg'>
    </audio>
{% endif %}
</body>
</html>
