body {
    background-image: url('../backgrounds/guide.png');
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
}
@media (max-width: 1500px) {
    body {
        zoom: 1.3;
        transform-origin: 0 0;
    }
}
@media (min-width: 1501px) {
    body {
        zoom: 2.7;
        transform-origin: 0 0;
    }
}
